<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gr6402.timmy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dk.gr6402.controller.LoginCtrl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginLaege" />
        <activity android:name=".dk.gr6402.controller.EditUserCtrl" />
        <activity android:name=".dk.gr6402.controller.GuideCtrl" />
        <activity android:name=".dk.gr6402.controller.ProfileCtrl" />
        <activity android:name=".dk.gr6402.controller.CollectSCGCtrl" />
        <activity android:name=".dk.gr6402.controller.MeasureCtrl" />
        <activity android:name=".dk.gr6402.controller.ConfirmMeasureCtrl" />
        <activity android:name=".dk.gr6402.controller.SymptomsCtrl" />
        <activity android:name=".dk.gr6402.controller.OverviewCtrl" />
        <activity android:name=".dk.gr6402.controller.AddUserCtrl" />
        <activity android:name=".dk.gr6402.controller.ResetThresholdDialogCtrl" />
        <activity android:name=".dk.gr6402.controller.DeleteDialogCtrl" />
        <activity android:name=".dk.gr6402.controller.InspectMonitoringCtrl" />
        <activity android:name=".dk.gr6402.controller.WarningsCtrl" />
        <activity android:name=".dk.gr6402.controller.NewUserCtrl" />
        <activity android:name=".dk.gr6402.controller.MainMenuCtrl"></activity>
    </application>

</manifest>